#ui-bar {
}

@font-face {
    font-family: "FreePixel";
    src: url("FreePixel.ttf") format("truetype");
}

body {
	margin: auto;
    font-family: "FreePixel";
}

.passage {
    font-size: large;
}

.hints {
    color: rgb(158, 158, 158);
}